<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="htp://java.sun.com/jsf/html">
<h:head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<script type="text/javascript" 
		src="https://code.jquery.com/jquery-3.2.1.min.js">
	</script>
</h:head>
<h:body>
	<h:form prependId="false">
		<h:inputText id="descricao" />
		<h:selectMenu id="categoria">
			<f:selectItems value="#{produtoControl.categorias}" />
		</h:selectMenu>
		<div id="lista"></div>
	</h:form>
</h:body>
</html>